<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Add Ralley</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/CreateRalley}" th:object="${ralleyDetails}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="ralley_details" class="col-form-label">Name</label> 
                                <input type="text" th:field="*{ralley_details}" class="form-control" id="name" placeholder="Name or Details">
                                 <span th:if="${#fields.hasErrors('ralley_details')}" th:errors="*{ralley_details}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="venue_details" class="col-form-label">Venue Details</label> 
                                <input type="text" th:field="*{venue_details}" class="form-control" id="venue_details" placeholder="Venue Details"> 
                                <span th:if="${#fields.hasErrors('venue_details')}" th:errors="*{venue_details}" class="text-danger"></span>
                            </div>
                            
                             <div class="form-group col-md-8">
                                <label for="minDobDate" class="col-form-label">Min Date of Birth</label> 
                                <input type="date" th:field="*{min_dob}" class="form-control" id="min_dob" placeholder="Enter Date"> 
                                <span th:if="${#fields.hasErrors('min_dob')}" th:errors="*{min_dob}" class="text-danger"></span>
                            </div>
                            
                            
                            <div class="form-group col-md-8">
                                <label for="maxDobDate" class="col-form-label">Enter Date</label> 
                                <input type="date" th:field="*{max_dob}" class="form-control" id="max_dob" placeholder="Enter Date"> 
                                <span th:if="${#fields.hasErrors('max_dob')}" th:errors="*{max_dob}" class="text-danger"></span>
                            </div>
                            
                             <div class="form-group col-md-8">
                                <label for="passpercent" class="col-form-label">Min passing percent</label> 
                                <input type="number" th:field="*{min_passing_percentage}" class="form-control" id="pass_percent" placeholder="Enter Percentage"> 
                                <span th:if="${#fields.hasErrors('min_passing_percentage')}" th:errors="*{min_passing_percentage}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="engpasspercent" class="col-form-label">Min english passing percent</label> 
                                <input type="number" th:field="*{min_eng_percentage}" class="form-control" id="pass_engpercent" placeholder="Enter Percentage"> 
                                <span th:if="${#fields.hasErrors('min_eng_percentage')}" th:errors="*{min_eng_percentage}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="height" class="col-form-label">Min height(cm)</label> 
                                <input type="number" th:field="*{min_height}" class="form-control" id="min_height" placeholder="Enter height(in cm)"> 
                                <span th:if="${#fields.hasErrors('min_height')}" th:errors="*{min_height}" class="text-danger"></span>
                            </div>
                            
                            
                            
                            

                            <div class="form-group col-md-8">
                                <label for="startDate" class="col-form-label">Start Date</label> 
                                <input type="date" th:field="*{start_date}" class="form-control" id="start_date" placeholder="Enter Start Date"> 
                                <span th:if="${#fields.hasErrors('start_date')}" th:errors="*{start_date}" class="text-danger"></span>
                            </div>
                            
                            
                            <div class="form-group col-md-8">
                                <label for="endDate" class="col-form-label">End Date</label> 
                                <input type="date" th:field="*{end_date}" class="form-control" id="end_date" placeholder="Enter End Date"> 
                                <span th:if="${#fields.hasErrors('end_date')}" th:errors="*{end_date}" class="text-danger"></span>
                            </div>
                            
                          
                            
                            
                            
                            

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Add Ralley">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>